{{!< default}}
<div class="container">
	<div class="jumbotron">
		<h3>Welcome To</h3>
		<h1>Gambit</h1>

		<p>Your free, no-BS NBA daily fantasy resource.</p>
		<hr>
		<p>
			Remember to <a href='https://twitter.com/DFSGambit' target='_blank'>follow @DFSGambit</a> on twitter for updates.
		</p>

	</div>
</div>